@import url("https://fonts.googleapis.com/css?family=Rochester&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,400&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(#f7f7f7, #e5e5e5);
}

header {
  font-family: "Lobster", cursive;
  background-image: url("../images/background-header.jpg");
  background-position: center;
  height: 200px;
  position: relative;
}
header h1 {
  font-size: 4.5rem;
  color: #fff;
  z-index: 2;
  text-align: center;
}

footer {
  text-align: center;
}
header .overlay {
  height: 200px;
  top: 0px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
}
a,
a:hover {
  text-decoration: none;
  cursor: pointer;
  color: #007bff;
}
.filter-margin {
  margin-top: 10px;
}
/******************* Landing page ******************/
.light-nav.navbar {
  display: flex;
  border-bottom-width: thin;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.dark-nav.navbar {
  display: flex;
  border-bottom-width: thin;
  border-bottom: 1px solid rgba(138, 138, 138, 0.2);
}
.nav-child:nth-child(1) {
  flex: 4;
}
.nav-child:nth-child(2) {
  flex: 3;
  display: flex;
}
.nav-child:nth-child(3) {
  flex: 1;
  display: flex;
}
.nav-child h1 {
  font-family: "Rochester", cursive;
  font-size: 2.2em;
  color: #d1d1d1;
}

.nav-child ul {
  margin: auto;
}
.light-nav .nav-child ul li {
  list-style: none;
  display: inline-block;
  padding: 15px;
}
.light-nav .nav-child ul li a {
  color: #d1d1d1;
}
.dark-nav .nav-child ul li {
  list-style: none;
  display: inline-block;
  padding: 15px;
}
.dark-nav .nav-child ul li a {
  color: #8a8a8a;
}

.btn-primary-custom {
  padding: 6px 30px;
  background-color: #cd1859;
  border-radius: 30px;
  color: white;
}
.btn-primary-custom a {
  text-decoration: none;
  color: white;
}
.btn-md {
  padding: 6px 20px;
}

.li-active {
  color: white !important;
  border-bottom: 4px solid #cd1859;
}

.landing-page {
  height: 100vh;
  width: 100%;
  background-image: url("../images/landing.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px -125px;
  position: relative;
}
.landing-page .overlay {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.signup-box {
  height: 300px;
  width: 350px;
  background-color: white;
  z-index: 2;
  position: absolute;
  right: 5%;
  top: 20%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.signup-box-child {
  flex: 1;
  text-align: center;
  padding: 10px;
}
.signup-box-child span {
  display: inline-block;
  top: 20%;
  position: relative;
}
.signup-box-child span a {
  color: #444;
}
.signup-box-child span:nth-child(1) {
  /* border-right: 2px solid #cd1859; */
  padding-right: 10%;
}
.signup-box-child span:nth-child(2) {
  padding-left: 10%;
}
.singup-box-active {
  color: #cd1859 !important;
}

.signup-input-box {
  border: none;
  border-bottom: 2px solid #cd1859;
  width: 80%;
  margin: 20px;
}
.button-singup div {
  width: 30%;
  position: relative;
  left: 35%;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
.landing-qoutes {
  left: 10%;
  top: 15%;
  position: absolute;
}
.landing-qoutes h1 {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  position: relative;
}
.landing-qoutes .upper-border {
  width: 5%;
  border: 2px solid #cd1859;
  position: relative;
  top: 15px;
}

.landing-page-qoutes-parent {
  display: flex;
  width: 400px;
  height: 100px;
  position: absolute;
  bottom: 5%;
  left: 5%;
}
.landing-page-qoutes-media {
  background-color: #cd1859;
  display: flex;
  flex: 1;
  order: 2;
}
.landing-page-qoutes-text {
  background-color: rgba(0, 0, 0, 0.5);
  color: #d1d1d1;
  padding: 25px;
  flex: 2;
  order: 1;
}
.common-icon-lg {
  font-size: 80px;
  color: #d1d1d1;
  margin: auto;
}
.common-icon-sm {
  font-size: 50px;
  color: #d1d1d1;
  margin: auto;
}
.media-card-text {
  margin: auto;
}

@media screen and (max-width: 760px) {
  .table-responsive {
    display: block;
  }
}

/*=========================================================
                  HOME PAGE
  =========================================================*/
.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
  background-image: linear-gradient(#2196f3, #00bcd4);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.sidenav ul li {
  list-style: none;
}
/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}
.table-custom {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.table-custom thead {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 14px;
}
.table-custom tbody tr {
  font-family: "Lato", sans-serif;
  font-size: 15px;
  color: #353333;
}

.product_image {
  height: 40px;
  width: 40px;
}
.product_name {
  padding-left: 10px;
}
.danger {
  color: red;
}
.warning {
  color: orange;
}
.valid {
  color: green;
}
.circle-icon {
  height: 35px;
  width: 35px;
  display: flex;
  border-radius: 50%;
}
.circle-danger {
  background-image: linear-gradient(#f44336, #ff9800);
}
.circle-valid {
  background-image: linear-gradient(#12e2e2, #52a528);
}
.circle-warning {
  background-image: linear-gradient(#ffeb3b, #ff9800);
}
.status-sign {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.8);
  margin: auto;
}

.action-container {
  display: flex;
}
.action-button {
  flex: 1;
  height: 35px;
  width: 35px;
  display: flex;
  background-image: linear-gradient(#9c27b0, #3f51b5);
  margin-right: 10px;
  border-radius: 2px;
}
.action-icon {
  margin: auto;
  color: white;
}

.create-dictionary-button {
  float: right;
  margin: 15px;
  border-radius: 25px;
  background-image: linear-gradient(#9c27b0, #3f51b5);
  border-color: #007bff00;
}
.float-none {
  float: none;
}
.create-dictionary-button .btn-icon {
  font-size: 17px;
  margin-left: 12px;
}
.parent-contanier-modal {
  display: flex;
}
.parent-contanier-modal .child-contanier-modal:nth-child(1) {
  flex: 1;
}
.parent-contanier-modal .child-contanier-modal:nth-child(2) {
  flex: 1.5;
}
.input-box-bottom {
  margin-bottom: 15px;
  flex: 1.75 !important;
}
.validation-error {
  color: red;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  margin: 15px;
}
.user-image img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

.side-navigation {
  padding: 20px 0px 20px 20px;
  text-align: left;
  margin-top: 60px;
}
.side-navigation li {
  padding: 10px;
}
.side-navigation li a span {
  text-transform: capitalize;
}
.side-navigation li a {
  color: white;
}
.side-navigation li i {
  margin-right: 8px;
  color: white;
}
.logout-button {
  float: left;
  margin-left: -9px;
}
.user-name {
  font-size: 16px;
  color: white;
  font-family: cursive;
}
